

    
<div class="download    d-flex align-items-end">
    <div class="container">
        
            <div class="row">

                <!-- <div class="col-lg-4 download-img">
                    <img src="../../assets/downloaddd.avif" class="w-100 h-100" alt="">
                </div> -->

                <div class="col-lg-4 download-img">
                    <img src="../../assets/secure.jpg" class="" alt="">
                </div>
    
                <div class="col-lg-8 download-content pl-4">
                    <h5 class="text-uppercase">download today</h5>
                    <h2>Trust your prescriptions with  med match<span class="dot ml-3">.</span></h2>
                    <p>Med Match is a comprehensive platform that ensures your prescriptions are handled with the utmost care and precision. Med Match works diligently to match your prescribed medications accurately, leaving no room for errors or confusion </p>
                    <div class="imgs d-flex justify-content-start align-items-center">
                        <img src="../../assets/Play-Store-Button.svg" alt="" class="downlaod-icons">
                        <img src="../../assets/App-Store-Button.svg" alt="" class="ml-3 downlaod-icons">
                    </div>
                </div>
    
           </div>
        
      
    </div>
 </div>

 <!--end download section-->

 <footer>
    <div class="container">
        <div class="row">

            <div class="col-lg-3 footer-imgs">
                <img src="../../assets/Play-Store-Button.svg" alt="">
                <img class="two" src="../../assets/App-Store-Button.svg" alt="">
            </div>

            <div class="col-lg-3">
                <h4>about us</h4>
                <h6>about us</h6>
                <h6>impact</h6>
                <h6>privacy</h6>
            
            </div>

            <div class="col-lg-3">
                <h4>our app</h4>
                <h6>download med match</h6>
                <h6>features</h6>
                <h6>med match chat</h6>
              
            </div>

            <div class="col-lg-3">
                <h4>authentication</h4>
                <h6>login</h6>
                <h6>register</h6>
                
            </div>
        </div>
    </div>
 </footer>
