
<div class="mycontainer3 first-card mt-5">

    <div class="row">
         <div class="col-xl-8 first-card-content d-flex justify-content-center align-items-center " >
             
              <div>
                <h3>prescription scan</h3>
                <p class="mt-3">A prescription scanning system is a technology-based solution designed to automate the process of scanning and extracting information from prescription documents. This system utilizes optical character recognition (OCR) and image processing techniques to convert physical prescriptions into digital, machine-readable format.</p>
                <p>The benefits of a prescription scanning system include increased efficiency, reduced manual errors in data entry, and improved accuracy in medication management. Healthcare professionals can easily access and store digital prescriptions, making it easier to review and manage patient information.</p>
                <p>You have the option to upload an image for scanning or to capture a picture of the prescription</p>
                <!-- <button class="btn btn-success"> read more</button> -->
              </div>
             
         </div>
         <div class="col-xl-4 first-card-img  d-flex justify-content-end">
             <img src="../../../assets/mobile pics/scan.jpeg" alt="">
         </div>
    </div>



 </div>




 
<div class="mycontainer3 first-card mt-4">

    <div class="row reverse">

        <div class="col-lg-4 first-card-img  d-flex justify-content-start">
            <img src="../../../assets/mobile pics/drugdetails.jpeg" alt="">
        </div>

         <div class="col-lg-8 first-card-content d-flex justify-content-start align-items-center " >
             
              <div>
                <h3>drug details</h3>
                <p class="mt-3">Drug details encompass a wide range of information, including the drug's name, active ingredients and price. These details enable healthcare providers to make accurate prescribing decisions tailored to individual patient needs and medical histories. Additionally, they equip patients with the knowledge necessary to actively participate in their treatment plans and ask informed questions about their medications.</p>

                <!-- <button class="btn btn-success"> read more</button> -->
              </div>
             
         </div>
      
    </div>



 </div>



 <div class="mycontainer3 first-card mt-4">

    <div class="row">
         <div class="col-lg-8 first-card-content d-flex justify-content-center align-items-center " >
             
              <div>
                <h3>similar drugs</h3>
                <p class="mt-3">Similar drugs are medications that have  the same active ingredient . They share common mechanisms of action and are used to treat the same conditions or address similar symptoms. However, slight variations in formulation, dosage, or side effect profiles may make one drug more suitable for a specific patient compared to another.</p>

                <!-- <button class="btn btn-success"> read more</button> -->
              </div>
             
         </div>
         <div class="col-lg-4 first-card-img d-flex justify-content-end">
             <img src="../../../assets/mobile pics/similardrugs.jpeg" alt="">
         </div>
    </div>



 </div>






 <div class="mycontainer4 mt-4 ">
    <div class="row">

      <div class="d-flex justify-content-between lol">
        <div class="col-xl-6  second-card mr-3">
            <h3>search history</h3>
            <p class="mt-3">Drug search history plays a pivotal role in empowering individuals to become active participants in their healthcare journeys. It allows users to educate themselves about various medications, including their uses, potential side effects, dosages, interactions, and precautions. !</p>
            
            <div class="second-card-img mt-4">
                <img src="../../../assets/mobile pics/searchhistory.jpeg" alt="">

            </div>
        </div>

        <div class="col-xl-6  second-card ">
            <h3>order history</h3>
            <p class="mt-3">One of the primary benefits of order history is its ability to enhance personalization. Online platforms and search engines leverage this data to deliver tailored recommendations, relevant content based on individual preferences and past searches. !</p>
            
            <div class="second-card-img mt-4">
                <img src="../../../assets/mobile pics/orderhistory.jpeg" alt="">

            </div>
        </div>
      </div>
    </div>
 </div>



 <div class="mycontainer3 first-card mt-4">

    <div class="row">
         <div class="col-lg-8 first-card-content d-flex justify-content-center align-items-center " >
             
              <div>
                <h3>search drug</h3>
                <p class="mt-3">in addition to scanning prescriptions users can independently search for a specific drug with all of the drugs information having the option to find similar drugs and adding it to cart for purchase.</p>

                <button class="btn btn-success"> read more</button>
              </div>
             
         </div>
         <div class="col-lg-4 first-card-img  d-flex justify-content-end">
             <img src="../../../assets/mobile pics/searchdrug.jpeg" alt="">
         </div>
    </div>



 </div>

 <div class="mycontainer4 mt-4  ">
    <div class="row">

      <div class="d-flex justify-content-between lol">
        <div class="col-xl-6 second-card mr-2">
            <h3>cart</h3>
            <p class="mt-3">users can add to their cart the drugs they need with the desired quantity with ease and showing the total price for their order</p>
            
            <div class="second-card-img mt-4">
                <img src="../../../assets/mobile pics/cart.jpeg" alt="">

            </div>
        </div>

        <div class="col-xl-6  second-card ">
            <h3>checkout</h3>
            <p class="mt-3">users fill out their payment information including addrss, phone and payment method then recieve their receipt</p>
            
            <div class="second-card-img mt-4">
                <img src="../../../assets/mobile pics/checkout.jpeg" alt="">

            </div>
        </div>
      </div>
    </div>
 </div>
