button
{
    padding: 1.2rem;
    text-align: center;
    line-height: 1;
    border-radius: 9999px;
    border-color: var(--primarygreen-color);
    font-weight: 600;
    margin-left: 10px;
    background-color: var(--primarygreen-color)
}
button:hover
{
    border-color: var(--primarygreen-color) !important;
}
.btn-primary:hover
{
    background-color: var(--primarygreen-color) !important;
}
nav
{
   
    // background-color:transparent !important ;
  
   
 
}
.navbar-brand
{
    // color: white !important;
    width: 250px;

    height: 70px;
    font-size: 28px !important;
    margin-right: 40px;

  
  
}
.navbar-brand .logoImg 
{
    margin-top: 12px;
   width: 50%;
 
   transform: scale(1.6);
   height: 100%;
    
}
.navbar-brand img.logoText
{
  
   margin-top: -14px !important;
    margin-top: 0px;
   width: 70%;
 
   transform: scale(2.2);
   height: 100%;
    
}
nav  .nav-link
{
    color: black !important;
    font-size: 17px;
    margin-left: 8px;
}
.dropdown-menu a 
{
    color: black  !important;
}
.nav-item
{
    position: relative;
}
.green-dot
{
    color: var(--secondrygreen-color);;
    font-weight: bold;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--secondrygreen-color);
    position: absolute;
    top: 27%;
    left: 24%;
}
.scrolledbg
{
    background-color: white !important; /* Replace with your desired background color */
    transition: background-color 2s ease !important; /* Add a smooth transition effect */
}
.scrolledbg:hover.nav-link-design
{
    color: var(--primarygreen-color) !important;
}
.nav-link-design
{
    color: black;
    transition: .4s all;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    font-size: 16px;
    display: block;
    font-weight: 500;
    padding: 0.5rem 1rem;
    text-decoration: inherit;
}
.scrolledcolor

{
    color: black !important;
    transition: all .5s ease
}
.testtt
{
    background-color: white !important;
}

// .nav-link-design[_ngcontent-ng-c1608849548]
// {
//   color: black;
// }
// nav[_ngcontent-ng-c1608849548] {
//  background-color: rgb(224, 107, 107) !important;
// }
// .navbar-brand[_ngcontent-ng-c1608849548] {
//     color: black !important;
//     font-size: 28px !important;
// }
// .nav-link-design[_ngcontent-ng-c1608849548][_ngcontent-ng-c1608849548]:hover {
//     color: #4070f4;
//     transform: scale(1.2);
// }

.nav-link-design[_ngcontent-ng-c874738857]:hover {
        color: var(--primarygreen-color) !important;
        transform: scale(1.2);
}

.nav-link-design:hover
{
    color: var(--primarygreen-color) !important;
    transform: scale(1.2);
}

.user-icon
{
    color: var(--primarygreen-color);
}
// .user-icon::after
// {
//     content: "";
//     position: absolute;
//     width: 6px;
//     height: 6px;
//     background-color: var(--primarygreen-color);
//     border-radius: 50%;
    
//     left: 28%;
//     top: 15%;
// }
@media (max-width: 767px)
{
    // .user-icon::after
    // {
    //     content: "";
    //     position: absolute;
    //     width: 6px;
    //     height: 6px;
    //     background-color: var(--primarygreen-color);
    //     border-radius: 50%;
        
    //     left: 5%;
    //     top: 15%;
    // }
    .nav-link-design[_ngcontent-ng-c874738857]:hover {
        color: var(--primarygreen-color) !important;
            transform: scale(1);
    }
    
    .nav-link-design:hover
    {
        color: var(--primarygreen-color);
        transform: scale(1.011);
    }
    .scrolledbg:hover.nav-link-design
    {
        color: var(--primarygreen-color) !important;
    }
    .nav-link-design[_ngcontent-ng-c1823081762]:hover {
        color: var(--primarygreen-color) !important;
        
    }
    #navbarNavDropdown
    {
        background-color: white !important;
       padding: 20px;
       
     
    }

    button
        {
            padding: 1rem;
            text-align: center;
            line-height: 1;
            border-radius: 9999px;
            border-color: var(--primarygreen-color);
            font-weight: 550;
            margin-left: 5px;
            background-color: var(--primarygreen-color);
            margin-top: 5px;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    // .user-icon::after
    // {
    //     content: "";
    //     position: absolute;
    //     width: 6px;
    //     height: 6px;
    //     background-color: var(--primarygreen-color);
    //     border-radius: 50%;
        
    //     left: 4%;
    //     top: 15%;
    // }
    .nav-link-design[_ngcontent-ng-c874738857]:hover {
        color: var(--primarygreen-color) !important;
            transform: scale(1);
    }
    #navbarNavDropdown
    {
        background-color: white !important;
       padding: 20px;
       
     
    }

    button
        {
            padding: 1rem;
            text-align: center;
            line-height: 1;
            border-radius: 9999px;
            border-color: var(--primarygreen-color);
            font-weight: 550;
            margin-left: 5px;
            background-color: var(--primarygreen-color);
            margin-top: 5px;
        }
       
    .nav-link-design:hover
    {
        color: var(--primarygreen-color);
        transform: scale(1.011);
    }
    .scrolledbg:hover.nav-link-design
    {
        color: var(--primarygreen-color) !important;
    }
    .nav-link-design[_ngcontent-ng-c1823081762]:hover {
        color: var(--primarygreen-color) !important;
        
    }
}
// nav[_ngcontent-ng-c874738857] {
//     background-color: white !important;
// }

@media (max-width: 600px) 
{
    nav
    {
      padding-left: 0 !important;
      padding-top: 20px;
    }
        .navbar-brand
    {
        // color: white !important;
        width: 250px;

        height: 70px;
        font-size: 28px !important;
        margin-right: 40px;

    
    
    }
    .navbar-brand .logoImg 
    {
        margin-top: 12px;
    width: 50%;
    
    transform: scale(1.6);
    height: 100%;
        
    }
    .navbar-brand img.logoText
    {
    
    margin-top: -14px !important;
        margin-top: 0px;
    width: 70%;
    
    transform: scale(2.2);
    height: 100%;
        
    }

    //     .user-icon::after
    // {
    //     content: "";
    //     position: absolute;
    //     width: 6px;
    //     height: 6px;
    //     background-color: var(--primarygreen-color);
    //     border-radius: 50%;
        
    //     left: 7%;
    //     top: 15%;
    // }
}