 <div class="all">
    <div class="mycontainer">
        
        <div  class="row">
            <div class="cart-header">
                <div style="padding: 30px 0 20px 70px;">
                    <h2 class="text-capitalize">orders</h2>
                </div>
            </div>
            
            <div  class="col-lg-12 shopping-cart" *ngFor="let order of orders">
                <div class="mycontainer2" >
                        
                    
    
                    
                    <div >
                        
                        <div  class="mycontainer3 font col-md-6 default-first-card float-left mt-2 ">
                            
                            <p><span>User:</span> {{ order.user.userName }}</p>
                            <p><span>User Email : </span> {{ order.user.email }}</p>
                            <p><span>Total Price : </span> {{ order.totalPrice }}</p>
                            <p><span>Phone Number : </span> {{ order.phone }}</p>
                            <p><span>Shipping Address: </span> {{ order.shippingAddress }}</p>
                            <p><span>Payment Method:</span> {{ order.paymentMethod }}</p>
                            <button class="btn btn-danger " (click)="cancelOrder(order._id)">Cancel Order</button>
                         </div>
                         
                         <div class="mycontainer3 default-first-card float-right col-md-6 mt-2">
                            <h4>Items:</h4>
                            <table>
                              <thead>
                                <tr>
                                  <th>Name</th>
                                  <th>Quantity</th>
                                  <th>Price</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let item of order.items">
                                  <td>{{ item.drug.name }}</td>
                                  <td>{{ item.quantity }}</td>
                                  <td>{{ item.price }}</td>
                                </tr>
                              </tbody>
                            </table>
                            <p>Created At: {{ order.createdAt }}</p>
                          </div>
                          
                        
                      </div>
                      
                      
                    
                </div>
                
                </div>
            </div>
        </div>
    </div> 

    

          
            
            
          
      