*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0396FF;
  }
  .containerss{
    height: 500px;
    display: flex;
    min-width: 400px;
    align-items: flex-end;
    justify-content: center;
    margin-top: -55px;
  }
  .icon-image{
    position: relative;
    height: 70px;
    width: 70px;
    margin: 0 5px;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    background: #fff;
  }
  .icon-image .icon img{
    position: absolute;
    height: 95%;
    width: 95%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #0396FF;
  }
  .icon-image::before{
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
  }
  .icon-image .hover-image{
    position: absolute;
    height: 350px;
    width: 300px;
    bottom: 100px;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
    border-radius: 25px;
    pointer-events: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.5s ease, z-index 0s, left 0.5s ease ;
    transition-delay: 0s, 0.5s, 0.5s;
  }
  .icon-image:hover .hover-image{
    left: -200px;
    z-index: 12;
    transform: translateX(80px);
    transition: left 0.5s ease, z-index 0s, transform 0.5s ease;
    transition-delay: 0s, 0.5s, 0.5s;
  }
  .hover-image img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 25px;
  }
  .hover-image .content{
    position: absolute;
    width: 100%;
    bottom: -10px;
    padding: 0 10px;
  }
  .content::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -7px;
    transform: rotate(45deg) translateX(-50%);
    z-index: -1;
  }

  
  .content .details{
    position: relative;
    background: #fff;
    padding: 10px;
    border-radius: 12px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transform: translateY(10px);
  }
  .icon-image:hover .details{
    transition: all 0.5s ease;
    transition-delay: 0.9s;
    opacity: 1;
    transform: translateY(4px);
    pointer-events: auto;
  }
  .details::before{
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background: #fff;
    left: 50%;
    bottom: -15px;
    transform: rotate(45deg) translateX(-50%);
    z-index: -1;
  }
  .content .details .name{
   font-size: 20px;
   font-weight: 500;
  }
  .content .details .job{
   font-size: 17px;
   color: #0396FF;
   margin: -3px 0 5px 0;
  }
  .content .details a:hover{
    color: #0396FF;
  }
  .containerss .last .hover-image{
    transition: none;
  }
  .containerss .last:hover .hover-image{
    transition: 0;
  }
  .last:hover .details{
    transition-delay: 0s;
  }
  
  
  
  .con{
    margin: auto;
  }
  
  
  .our-title{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
  
    font-weight: bolder;
  }
  
  
  .containerss{
    margin: auto;
  }
  p
  {
    line-height: 1.7;
     font-size: 17px;
  }



  //gemi will edit it

 
  @media (max-width: 600px)
  {
    .icon-image {
      height: 50px;
      width: 50px;
      margin: 0 3px;
    }
    .icon-image{
     width: 100%;
    }
    .icon-image .icon{
      width: 12px;
      height: 20px;
      border-radius: 50%;
      margin-left: 2px;
    }
    .icon-image .icon img {
      height: 100%;
      width: 100%;
      border: 0.5px solid #0396FF;
      
    }
  
    .icon-image::before {
      width: 40px;
      height: 40px;
      top: -40px;
    }
  
    .icon-image .hover-image {
      height: 250px;
      width: 150px;
      bottom: 80px;
    }
  
    .hover-image img {
      border: 2px solid #fff;
   
    //   position: absolute;
    // height: 100%;
    // width: 100%;
    // object-fit: cover;
    // border: 3px solid #fff;
    // border-radius: 25px;
    }
  
    .content .details {
      padding: 1px;
      border-radius: 8px;
    }
  
    .content .details .name {
      font-size: 16px;
    }
  
    .content .details .job {
      font-size: 14px;
    }
    .details{
      z-index: 0;
    }
    .our-title h1 {
      font-size: 24px;
    }
  }
@media (min-width: 600px) and (max-width: 767px)
  {
    .icon-image {
      height: 50px;
      width: 50px;
      margin: 0 3px;
    }
    .icon-image{
     width: 100%;
    }
    .icon-image .icon{
      width: 300px;
      height: 30px;
      border-radius: 50%;
      margin-left: 2px;
    }
    .icon-image .icon img {
      height: 100%;
      width: 100%;
       
      border: 3px solid #0396FF;
    }
  
    .icon-image::before {
      width: 40px;
      height: 40px;
      top: -40px;
    }
  
    .icon-image .hover-image {
      height: 250px;
      width: 150px;
      bottom: 80px;
    }
  
    .hover-image img {
      border: 2px solid #fff;
   
    //   position: absolute;
    // height: 100%;
    // width: 100%;
    // object-fit: cover;
    // border: 3px solid #fff;
    // border-radius: 25px;
    }
  
    .content .details {
      padding: 1px;
      border-radius: 8px;
    }
  
    .content .details .name {
      font-size: 16px;
    }
  
    .content .details .job {
      font-size: 14px;
    }
    .details{
      z-index: 0;
    }
    .our-title h1 {
      font-size: 24px;
    }
  }

  @media (min-width: 600px) and (max-width: 991px)
  {
    .icon-image {
      height: 50px;
      width: 50px;
      margin: 0 3px;
    }
    .icon-image{
     width: 100%;
    }
    .icon-image .icon{
      width: 40px;
      height: 45px;
      border-radius: 50%;
      margin-left: 2px;
      
    }
    .icon-image .icon img {
      height: 100%;
      width: 100%;
      border: 0; 
      border: 3px solid #0396FF;
    }
  
    .icon-image::before {
      width: 40px;
      height: 40px;
      top: -40px;
    }
  
    .icon-image .hover-image {
      height: 250px;
      width: 150px;
      bottom: 80px;
    }
  
    .hover-image img {
      border: 2px solid #fff;
   
    //   position: absolute;
    // height: 100%;
    // width: 100%;
    // object-fit: cover;
    // border: 3px solid #fff;
    // border-radius: 25px;
    }
  
    .content .details {
      padding: 1px;
      border-radius: 8px;
    }
  
    .content .details .name {
      font-size: 16px;
    }
  
    .content .details .job {
      font-size: 14px;
    }
    .details{
      z-index: 0;
    }
    .our-title h1 {
      font-size: 24px;
    }
  }