
    <div class="all">
        <div class="mycontainer">
            
            <div  class="row">
              <div *ngIf="!cartLoaded" style="text-align: center;" class="col-lg-8 shopping-cart">
                <app-loading-spinner></app-loading-spinner>
              </div>
                <div *ngIf="cartLoaded" class="col-lg-8 shopping-cart">
                    <div class="mycontainer2">
                            
                        <div class="cart-header mb-5 d-flex justify-content-between align-items-center">
                            <h2 class="text-capitalize">shopping cart</h2>
                            <h5 class="text-capitalize">items: {{itemsNumber}}</h5>
                        </div>
        
                        <hr class="mt-3">
        
                        
                        <div  class="mycontainer3 default-first-card  mt-2 ">
        
                    
                            <div class="row">
                                
                                <div class="drugName col-md-4  d-flex justify-content-start align-items-center">
                                    <h5 class="text-capitalize">drugname</h5>
                                </div>
        
                                <div class="drugquantity col-md-3  d-flex align-items-center">
                                    <h5 class="">quantity</h5>
                                           
                             
                                    
                                </div>
                                
        
        
                                <div class="drugprice col-md-2    d-flex align-items-center">
                                    <h5 class="">price</h5>
                                </div>
        
                        
                                <div class="removeDrug col-md-2  d-flex align-items-center justify-content-center">
                                    <h5  >remove</h5>
                                </div>
        
                            </div>
        
        
        
                            <hr>
                        </div>
        
        
        
                        <div *ngFor="let item of ShowCartData; let i = index" class="mycontainer3 first-card  mt-2 ">
        
                    
                            <div class="row">
                                
                                <div class="drugName col-md-4 d-flex justify-content-start align-items-center">
                                    <h5 class="for-small-design text-capitalize">drugname:</h5>
                                    <h5 class="text-capitalize drugName-content">{{item.drug.name}}</h5>
                                </div>
        
                                <div class="drugquantity col-md-3 d-flex align-items-center">
                                   
                                   
                                       <div class="counter-input d-flex justify-content-between align-items-center">
        
                                   
                                          <div class="counter-input d-flex justify-content-between align-items-center">
                                            <form [formGroup]="dynamicForm">
                                                <div formArrayName="quantity" class="d-flex justify-content-center align-items-center">
                                                    <h5 class="for-small-design">quantity:</h5>
                                                <input type="number" [formControlName]="i" class="input-counter" [value]="quantity.controls[i].value" (change)="onQuantityChange($event.target, i)">
                                                </div>
                                            </form>
                                          </div>
                                        </div>
                                
                                         
                                            
                                           
                                        
                                    
                                     
                                
                                   
                                    
                                    
                                </div>
                                
        
        
                                <div class="drugprice col-md-2   d-flex align-items-center">
                                    <h5 class="for-small-design text-capitalize">price:</h5>
                                    <h5 class="drugprice-content">{{item.price}} L.E</h5>
                                </div>
        
                        
                                <div class="removeDrug col-md-3 d-flex align-items-center justify-content-center">
                                 
                                    <button class="btn btn-danger remove-btn" type="button" (click)="removeItem(i)"> <fa-icon [icon]="faTrash" class="fa-light remove-icon"></fa-icon> remove</button>
                                </div>
        
                            </div>
        
        
        
                            <hr>
                        </div>
        
        
        
        
        
        
        
        
        
        
        
        
                        <!-- <div class="mt-3 d-flex justify-content-end align-items-end" >
                            <button class="btn btn-success save-cart text-capitalize" (click)="test()"> save cart</button>
                        </div> -->
        
                    </div>
        
                </div>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
                <div class="col-lg-4 summary">
                  <h2 class="text-capitalize">summary</h2>
                  <hr class="mt-4">
        
                  <div class="d-flex justify-content-between">
                    <h5 class="text-capitalize">items: {{itemsNumber}}</h5>
                    <h6>{{totalPrice}} L.E</h6>
                  </div>
        
                  <form #orderForm="ngForm" (ngSubmit)="onSubmitOrder(orderForm)">
                   <div class="mt-3">
                    <h5> shipping Address</h5>
                    <input 
                    type="text"
                    class="form-control w-75 mt-3"
                    name="shippingAddress"
                    [(ngModel)]="shippingAddress"
                    required
                  
                     >
                   </div>
                   <div class="alert alert-danger w-75 mt-2" *ngIf="orderForm.controls['shippingAddress']?.touched && orderForm.controls['shippingAddress'].invalid">
                   
                      Shipping address is required.
                  
                  </div>
        
        
                    <div class="mt-3">
                        <h5>phone</h5>
                        <input 
                        type="number"
                        class="form-control w-75 mt-3"
                        name="phone"
                        required
                        minlength="10"
                        maxlength="11"
                        placeholder="+20"
                        [(ngModel)]="phone"
                      
                         >
            
                    </div>

              
                      <div class="alert alert-danger w-75 mt-2" *ngIf="orderForm.controls['phone']?.touched && orderForm.controls['phone'].invalid">
                        Phone number is required.
                      </div>
                
                  
        
        
        
                    <div class="mt-3">
                        <h5>paymentMethod</h5>
                        
                        
                          
                            <select class="form-control mt-3 w-75" id="paymentMethod" style="cursor: pointer;" [(ngModel)]="paymentMethod" name="paymentMethod" >
                              <option value="cashOnDelivery" class="text-capitalize " style="cursor: pointer;" selected>CashOnDelivery</option>
        
                              <option value="visa" class="text-capitalize " style="cursor: pointer;" disabled >visa(not Support now)</option>
                             
                            </select>
                        
            
        
                          
        
                              
                    </div>
        
                    <hr class="mt-4">
                    <div class="total-price mt-5 d-flex justify-content-between">
                        <h5 class="text-capitalize">total price:</h5>
                        <h5>{{totalPrice}} L.E</h5>
        
                    </div>
                    
        
                    <div class="d-flex justify-content-center align-items-center mt-5">
                        <button class="btn-order btn btn-success"  [disabled]=" ShowCartData == undefined  || !orderForm.valid" >
                            <div class="car">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                               viewBox="0 0 808 375.1" style="enable-background:new 0 0 808 375.1;" xml:space="preserve">
                            <style type="text/css">
                              .st0{fill:#40596B;}
                              .st1{fill:#334A5E;}
                              .st2{fill:#BABAB9;}
                              .st3{fill:#AAAAAA;}
                              .st4{fill:#FF7058;}
                              .st5{fill:#84DBFF;}
                              .st6{fill:#CDD6E0;}
                              .st7{fill:#F2F2F2;}
                              .st8{fill:#FFD15C;}
                              .st9{fill:#E2C78C;}
                              .st10{fill:#B59B68;}
                              .st11{fill:#D8D8D6;}
                              .st12{fill:#ACB3BA;}
                            </style>
                            <path class="st0" d="M326.6,324c0,28.2-22.9,51.1-51.1,51.1s-51.1-22.9-51.1-51.1s22.9-51.1,51.1-51.1S326.6,295.7,326.6,324"/>
                            <path class="st0" d="M633,321.3c0,28.2-22.9,51.1-51.1,51.1s-51.1-22.9-51.1-51.1s22.9-51.1,51.1-51.1
                              C610.1,270.2,633,293.1,633,321.3"/>
                            <rect x="156.2" y="287.8" class="st1" width="145.6" height="36.1"/>
                            <rect x="156.2" class="st2" width="145.6" height="287.8"/>
                            <path class="st3" d="M300.3,210.6c-23.8-35.1-47.5-70.2-71.3-105.3S181.5,35.1,157.7,0h142.6V210.6z"/>
                            <path class="st4" d="M732.4,96.2H626.6v191.6h173.2v-86.3l-20.2-69.8C773.6,110.7,754.3,96.2,732.4,96.2"/>
                            <path class="st5" d="M774.6,200.7l-18-62.2c-3.1-10.7-13.1-18.2-24.2-18.2h-81.7v80.4L774.6,200.7L774.6,200.7z"/>
                            <polygon class="st6" points="774.6,200.7 650.7,200.7 650.7,120.2 "/>
                            <path class="st7" d="M774.6,200.7l-18-62.2c-3.1-10.7-13.1-18.2-24.2-18.2h-81.7L774.6,200.7z"/>
                            <g>
                              <path class="st8" d="M327.9,0h266.7c17.7,0,32,14.3,32,32v255.8H295.9V32C295.9,14.3,310.2,0,327.9,0"/>
                              <path class="st8" d="M327.9,0h266.7c17.7,0,32,14.3,32,32v255.8H295.9V32C295.9,14.3,310.2,0,327.9,0"/>
                            </g>
                            <g class="box">
                              <path class="st9" d="M90.2,197H17.8C8,197,0,189.3,0,179.7v-70.5c0-9.6,8-17.3,17.8-17.3h72.4c9.9,0,17.8,7.7,17.8,17.3v70.5
                                C108,189.3,100,197,90.2,197z"/>
                              <rect y="139.8" class="st10" width="108" height="9.2"/>
                            </g>
                            <rect x="296" y="0.1" class="st11" width="330.6" height="288.6"/>
                            <path class="st1" d="M808,287.8V324H296v-36.2h53.4c12.5-22.4,36.5-37.5,64-37.5c27.4,0,51.4,15.1,64,37.5h171.9
                              c12.5-22.4,36.4-37.5,63.9-37.5s51.4,15.1,64,37.5H808z"/>
                            <path class="st0" d="M764.3,323.7c0,28.2-22.9,51.1-51.1,51.1s-51.1-22.9-51.1-51.1s22.9-51.1,51.1-51.1
                              C741.5,272.6,764.3,295.5,764.3,323.7"/>
                            <path class="st12" d="M733.8,323.7c0,11.3-9.2,20.5-20.5,20.5s-20.5-9.2-20.5-20.5s9.2-20.5,20.5-20.5S733.8,312.4,733.8,323.7"/>
                            <path class="st0" d="M464.5,323.7c0,28.2-22.9,51.1-51.1,51.1s-51.1-22.9-51.1-51.1s22.9-51.1,51.1-51.1S464.5,295.5,464.5,323.7"/>
                            <path class="st12" d="M433.9,323.7c0,11.3-9.2,20.5-20.5,20.5s-20.5-9.2-20.5-20.5s9.2-20.5,20.5-20.5S433.9,312.4,433.9,323.7"/>
                            </svg>
                            <div class="light"></div>
                            </div>
                            <span class="default"><fa-icon [icon]="faTruck" style="font-size: 21px;" class="mr-2"></fa-icon>submit Order</span>
                            <span class="complited">
                              Order Placed
                              <svg viewbox="0 0 12 10">
                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                </svg>
                            </span>
                          </button>
                        <!-- <button type="submit" class="btn btn-success text-capitalize submit-order w-50 text-center" [disabled]="!orderForm.valid"> <fa-icon [icon]="faTruck" style="font-size: 21px;" class="mr-2"></fa-icon> submit order</button> -->
                    </div>
                  </form>
                </div>
            </div>
        
        
        
        </div>
        </div>




<!--completed add to cart-->  


<div class="overlay">

    <div class="overlay-content text-center d-flex flex-column align-items-center justify-content-center">
        
        <div class="verify-icon d-flex justify-content-center align-items-center mt-2">
            <fa-icon [icon]="faCheck" class="iconn" ></fa-icon>
            
        </div>


        <div class="thank-you text-center mt-2">
            <h3 class="text-capitalize thank-you-header">Removed</h3>
            <p class="thank-you-parag">your item has been successfully removed from cart</p>
            <button class="btn btn-success w-100 thank-you-btn" (click)="hideSuccessMsg()"> ok</button>

        </div>
    </div>
  </div>