
<div class="mycontainer3 first-card mt-5">

    <div class="row">
         <div class="col-lg-6 first-card-content d-flex justify-content-center align-items-center " >
             
              <div>
                <h3>admin dashboard</h3>
                <p class="mt-3">gives insights and analytics for the application and control all system databases with ability to add, delete, update and view both users and drugs in addition to providing reports about order history.</p>
                <!-- <button class="btn btn-success"> read more</button> -->
              </div>
             
         </div>
         <div class="col-lg-6 first-card-img  d-flex justify-content-end">
             <img src="../../../assets/desktop pics/dashboard.jpeg" alt="">
         </div>
    </div>



 </div>




 
<div class="mycontainer3 first-card mt-4">

    <div class="row reverse">

        <div class="col-lg-6 first-card-img  d-flex justify-content-start">
            <img src="../../../assets/desktop pics/users.jpeg" alt="">
        </div>

         <div class="col-lg-6 first-card-content d-flex justify-content-center align-items-center " >
             
              <div class="">
                <h3>modify users</h3>

                <!-- <button class="btn btn-success"> read more</button> -->
              </div>
             
         </div>
      
    </div>



 </div>



 <div class="mycontainer3 first-card mt-4">

    <div class="row">
         <div class="col-lg-6 first-card-content d-flex justify-content-center align-items-center " >
             
              <div>
                <h3>show all drugs</h3>

                <!-- <button class="btn btn-success"> read more</button> -->
              </div>
             
         </div>
         <div class="col-lg-6 first-card-img d-flex justify-content-end">
             <img src="../../../assets/desktop pics/drugs.jpeg">
         </div>
    </div>



 </div>






 <div class="mycontainer4 mt-4 ">
    <div class="row">

      <div class="d-flex justify-content-between lol">
        <div class="col-lg-6 second-card mr-3 text-center">
            <h3>add drug</h3>
            
            <div class="second-card-img mt-4">
                <img src="../../../assets/desktop pics/adddrugs.jpeg" alt="">

            </div>
        </div>

        <div class="col-lg-6  second-card text-center ">
            <h3>edit drug</h3>
            
            <div class="second-card-img mt-4">
                <img src="../../../assets/desktop pics/editdrugs.jpeg" alt="">

            </div>
        </div>
      </div>
    </div>
 </div>



 <div class="mycontainer3 first-card mt-4">

    <div class="row">
         <div class="col-lg-6 first-card-content d-flex justify-content-center align-items-center " >
             
              <div>
                <h3>orders</h3>
                <p class="mt-3"> </p>

                <!-- <button class="btn btn-success"> read more</button> -->
              </div>
             
         </div>
         <div class="col-lg-6 first-card-img  d-flex justify-content-end">
             <img src="../../../assets/desktop pics/orders.jpeg" alt="">
         </div>
    </div>



 </div>
<!-- 
 <div class="mycontainer4 mt-4 ">
    <div class="row">

      <div class="d-flex justify-content-between">
        <div class="col-lg-6 second-card mr-2">
            <h3>cart</h3>
            <p class="mt-3">Identify unknown numbers, spam or companies calling before picking up! See the true identity of each incoming call anywhere in the world - landline, mobile or pre-paid!</p>
            
            <div class="second-card-img mt-4">
                <img src="../../../assets/mobile pics/cart.jpeg" alt="">

            </div>
        </div>

        <div class="col-lg-6  second-card ">
            <h3>checkout</h3>
            <p class="mt-3">Identify unknown numbers, spam or companies calling before picking up! See the true identity of each incoming call anywhere in the world - landline, mobile or pre-paid!</p>
            
            <div class="second-card-img mt-4">
                <img src="../../../assets/mobile pics/checkout.jpeg" alt="">

            </div>
        </div>
      </div>
    </div>
 </div> -->
