<div class="all d-flex justify-content-center align-items-center">
    <div class="row profile  flex-lg-nowrap" >

   
     
    
        
        <div class="col-lg-3 mr-2 profile-left card ">
         


          <div class="settings ">
            <h2>settings</h2>

          </div>

          <div class="gemy" >

            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active text-left mb-2 " id="v-pills-home-tab" data-toggle="pill" data-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">
                
                <fa-icon [icon]="faUser" class="icon fa-regular profile-icon" ></fa-icon> your personal information
              </button>
  
              <button class="nav-link  text-left mb-2" id="v-pills-profile-tab" data-toggle="pill" data-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                <fa-icon [icon]="faRectangleList" class="icon fa-regular profile-icon" ></fa-icon> order History
              </button>
  
              <button class="nav-link text-left mb-2 " id="v-pills-messages-tab" data-toggle="pill" data-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                <fa-icon [icon]="faMagnifyingGlass " class="icon fa-regular profile-icon" ></fa-icon> search History
              </button>
            </div>
  
            <div class="logo-container ">
             <div class="row " >
              <div class="col-lg-6  logo-pic ">
                <img src="../../../assets/greenlogoooo.png" class="w-100 h-50 " alt="" >
                
              </div>
             <div class="col-lg-6 logo-text">
              <img src="../../../assets/greentext.png  " class="w-100 h-50" alt="" style="margin-left: -30px;">
             </div>
             </div>
  
            </div>

          </div>

        </div>





        <div class="col-lg-9  profile-right card ">
            <div *ngIf="!profileLoaded" class="text-center">
                <app-loading-spinner></app-loading-spinner>

            </div>

          <div *ngIf="profileLoaded" class="tab-content  " id="v-pills-tabContent">

            <div class="tab-pane fade show active  personalInfo mt-5  " id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                
                <form class="mt-5" #profile="ngForm" (ngSubmit)="onSubmit(profile)" class=""> 
                   
                    <input 
                    type="email"
                    name="email mb-3"
                    id="email" 
                    class="form-control mb-2"
                    [(ngModel)]="email"
                    required
                    disabled
                     
                       
                      />
            
                    <input 
                    type="userName"
                    name="userName"
                    id="userName" 
                    class="form-control mb-2"
                    [(ngModel)]="oldUserName"
                    required
                     
                       
                      />
                    
                  
            
                   
            
            
                   
                  <div class="text-right">
                    <button type="submit" class="btn btn-success px-3"> change</button>
                  </div>
                     
                   
                  </form>

            </div>

            
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                <div class="mycontainer3 first-card  orderHistory mt-2">

        



                    <div class="row p-3 ">
                      
                      <div class="col-lg-6">
                          <div class="mb-1">
                             <span class="title text-capitalize">drugName :</span> {{orderDrugDetails.drug.name}}
                          </div>
                          <div class="pt-2 mb-1">
                             <span class="title text-capitalize"> activeingredient :</span> {{orderDrugDetails.drug.activeIngredient}}
                           </div>
                           <div class="pt-2 mb-1">
                            <span class="title text-capitalize"> price :</span> {{orderHistory[0].items[0].price}} L.E
                          </div>
                           <div class="pt-2">
                            <span class="title text-capitalize"> quantity :</span> {{orderHistory[0].items[0].quantity}}
                          </div>

                      </div>

                      <div class="col-lg-6">
                          <div class="mb-1" >
                            <span class="title text-capitalize"> address :</span> {{orderHistory[0].shippingAddress}}
                          </div>
                           <div class="pt-2 mb-1">
                            <span class="title text-capitalize"> status :</span> {{orderHistory[0].status}}
                          </div>
                            <div class="pt-2 mb-1">
                              <span class="title text-capitalize"> phone :</span> {{orderHistory[0].phone}}
                            </div>
                            <div class="pt-2 mb-1">
                              <span class="title text-capitalize"> paymentMethod :</span> {{orderHistory[0].paymentMethod}}
                            </div>
                      </div>

                      <div class="mt-3 ml-2">
                          <button class="btn btn-success " type="button"> total price: {{orderHistory[0].totalPrice}} L.E</button>
                      </div>
                      
                  </div>




                </div>
            </div>


            <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">

                <!-- <div *ngFor="let item of searchHistory" class="mycontainer3 first-card mb-3">

                    <div  class="row">
                        <div class="col-lg-6">
                            <div>
                               drugName: {{item.name}}
                            </div>
                            <div>
                                activeingredient: {{item.activeIngredient}}
                             </div>
                          

                        </div>

                        <div class="col-lg-6">
                            <div>
                                price: {{item.price}}
                             </div>
                             <div>
                                category:{{item.category}}
                              </div>
                              
                        </div>

                        
                        
                    </div>



                </div> -->




                <div *ngFor="let item of searchHistory" class="mycontainer3 first-card  searchHistory mt-2">

        



                  <div class="row p-3 ">
                    
                    <div class="col-lg-6">
                        <div class="mb-1" >
                           <span class="title text-capitalize">drugName :</span> {{item.name}}
                        </div>
                        <div class="pt-2">
                           <span class="title text-capitalize"> activeingredient :</span> {{item.activeIngredient}}
                         </div>
                       

                       

                    </div>

                    <div class="col-lg-6">
                        <div class="mb-1" >
                          <span class="title text-capitalize"> price :</span> {{item.price}} L.E
                        </div>
                         <div class="pt-2">
                          <span class="title text-capitalize"> category :</span> {{item.category}}
                        </div>
                       
                        
                    </div>

                
                    
                </div>




              </div>


                
            </div>



          </div>
        </div>


      </div>

     
</div>






