// .all
// {
//  width: 80%;
//  height: 100%;
//  margin: auto;
// background-color: red;
// }
// .searchresult
// {
//   background-color: blue;
// }
.all
{
  // background-color: red;
  // position: r;
  // top:10%
height: 100vh;
position: relative;}

.container
{
  position: absolute;
  // background-color: blue;
  top:19%;
  left:15%;
}
.table-header
{
  background-color: var( --secondrygreen-color);
  padding: 15px 10px;
  border-radius: 10px;
  color: white;
  text-transform: capitalize;
}
.table-header input
{
  width: 300px;
  padding: 22px;
  border-radius: 30px;
  height: 55px;

}
.input-field
{
  position: relative;
}
fa-icon
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7%;
    cursor: pointer;
    // color: #4070f4;
    color: var(--primarygreen-color);
    font-size: 19px;
}
table td 
{
  max-width: 250px;
}


@media (max-width: 767px) {
  // .container {
  //   top:10%;
  //   margin-top: 50px;
  //   margin-left: 15px;
  //   margin-right: 15px;
  //   width: 100% !important;
  //   background-color: red;
  //   left:0%;
  // }

  .container {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  
    left: 0;
 
  }
  .table-header {
    padding: 10px 5px;
    text-align: center;
  }

  .table-header input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }

  .fa-icon {
    right: 5px;
  }

  table td {
    word-break: break-all;
  }
  tbody tr td 
  {
    font-size: 15px;
  }
  tbody tr td .btn-success
  {
    font-size: 14px !important;
    padding: 10px 2px;
  }
}



@media (max-width: 768px) {
  .container {
    top: 10%;
    left: 5%;
  }

  .modal-dialog.modal-xl {
    max-width: 90%;
  }
}

@media (max-width: 576px) {
  .container {
    top: 5%;
    left: 2%;
  }

  .modal-dialog.modal-xl {
    max-width: 95%;
  }

  .table-header input {
    width: 100%;
  }
}